.button{
    display: inline-block;
    border: 0.4rem solid white;
    color: white;
    font-size: 3rem;
    font-family: sans-serif;
    padding:0.5rem;
    margin-right: -0.4rem;
}
.button-bar{
    margin-top: 2rem;
}
.reset{
    float: right;
    font-size: 2.5rem;
    font-weight: bold;
    transition: background-color 0.5s ease;
    display: none;
}
.reset:hover{
    /* transform:scale(1.05,1.05); */
    background-color: red;
}
.selected{
    background: white;
    color: #2036ff;
}
#post-input{
    margin-top: 1rem;
    font-size: 3rem;
    width: 74%;
    display: inline-block;
    padding: 0.5rem 0rem 0.5rem 1rem;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
    background: #fff;
    


}
#post-input:focus{
    /* box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); */
    box-shadow: none;
}
#post-send{
    display: inline-block;
    width:16%;
    font-size: 3rem;
    border: 0.4rem solid white;
    color: white;
    font-family: sans-serif;
    padding:0.5rem;
    text-align: center;
    margin-left: 3%;

}
#post-send:hover{
    color: #2036ff;
    background: white;
}
.post{
    width: 100%;
    display: block;
    margin-bottom: 2rem;
}
.message{
    color: white;
    font-size: 2.2rem;
    margin-bottom: 0.5rem;

}
.messages-top{
    display: block;
    overflow-y: scroll;
    max-height: 550px;
}
.messages-top::-webkit-scrollbar {
    display: none;
}
.messages-new{
    display: none;
    overflow-y: scroll;
    max-height: 550px;
}
.messages-new::-webkit-scrollbar {
    display: none;
}
.user{
    float: right;
    display: inline-block;
}
.score{
    display: inline-block;
    margin-right: 1rem;
    color: cyan;
    transition: all 0.5s ease;
    backface-visibility: hidden;
}
.score:hover{
    transform: scale(1.2,1.2);
    color:yellow;
}
.remove{
    color:red;
    display: none;
    font-size: 2.3rem;
    margin-right: 0.5rem;
    font-weight: bold;
    transition: transform 0.5s ease;
    backface-visibility: hidden;
}
.remove:hover{
    transform: scale(1.6,1.6);
}

body{
    background:#2036ff;
}
.content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.post-message{
    max-width: 70%;
    overflow: hidden;
    display: inline-flex;
}
